<% content_for :head do %>
	<title>Chapry.com</title>
	<!-- Open Graph data -->
	<meta property="og:site_name" content="chapry">
	<meta property="fb:app_id" content="984512708308216"></meta>
	<meta property="og:url" content="<%= request.original_url %>"></meta>
	<meta property="og:type" content="article">
	<meta property="og:title" content="chapry.com">
	<meta property="og:description" content="Học Tiếng Anh The Fun Way">
	<meta property="og:image" content="">
<% end %>

<%= render partial: "shared/header" %>
<%= render partial: "shared/search" %>

<div  style="max-width:1260px;margin:auto;margin-top:24px" class="bodyimage w3-animate-opacity">
  <% @categories.each do |category| %>
	  <% if category.homelogo %>
	  	<%= image_tag category.logo.url, style: "width:100%" %>
	  <% end %>
  <% end %>
</div> 

<div style="max-width:1260px;margin:auto" class="w3-main" >
	<div style="margin-left:42px" class="w3-container">
		<div class="w3-hide-small w3-col l9 m12 s12">
			<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-center w3-container=" >
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- home page -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:728px;height:90px"
					     data-ad-client="ca-pub-9796522511877943"
					     data-ad-slot="3611847518"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
				
				<div class="w3-padding w3-container"><%= link_to tintuc_index_path do %><button style="background:#2C2453" class="w3-btn">A <i class="fa fa-plus" aria-hidden="true"></i></button><% end %></div>
					<% @tintucs.each do |tintuc| %>
						<% if tintuc.a %>
						<%= link_to tintuc do %>
							<div class="w3-padding  w3-col l4 m4">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag tintuc.image.url, style: "width:100%" %>
									</div>
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= tintuc.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= tintuc.title %></strong></p>
									    <div style="background:#2C2453;color:white" class=" w3-padding w3-display-topright"><%= tintuc.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
						<% end %>
					<% end %>
				</div>
			
				<div style="margin-bottom:30px" class="w3-container w3-padding">
					<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.a %><%= link_to category do %><button style="background:#A8182F" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
					
					<% @subcategories.each do |subcategory| %>
						<% if subcategory.a %>
							<%= link_to [subcategory.category, subcategory] do %>
								<div class="w3-padding  w3-col l4 m4">
									<div class="w3-card-2 w3-white content">
										<div class=" w3-container w3-padding-small ">
											<%= image_tag subcategory.image, style: "width:100%" %>
										</div>
										
										<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
											<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
						  					<p><strong><%= subcategory.name %></strong></p>
										    <div style="background:#A8182F;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
										</div>
									</div>
								</div>	
							<% end %>
						<% end %>	
					<% end %>
				</div>
				
				<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#0D47A1" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
				
				<% @subcategories.each do |subcategory| %>
						<% if subcategory.b %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div class="w3-padding  w3-col l4 m4">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag subcategory.image, style: "width:100%" %>
										
									</div>
									
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= subcategory.name %></strong></p>
									    <div style="background:#0D47A1;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
					<% end %>	
				<% end %>
				</div>
				
				<div class="w3-center w3-hie-large w3-container=" >
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- home page -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:728px;height:90px"
					     data-ad-client="ca-pub-9796522511877943"
					     data-ad-slot="3611847518">
					</ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
				
				<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.c %><%= link_to category do %><button style="background:#880E4F" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
				
				<% @subcategories.each do |subcategory| %>
						<% if subcategory.c %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div class="w3-padding  w3-col l4 m4">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag subcategory.image, style: "width:100%" %>
										
									</div>
									
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= subcategory.name %></strong></p>
									    <div style="background:#880E4F;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
					<% end %>	
				<% end %>
				</div>
				
				<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.d %><%= link_to category do %><button style="background:#2196F3" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
				
				<% @subcategories.each do |subcategory| %>
						<% if subcategory.d %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div class="w3-padding  w3-col l4 m4">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag subcategory.image, style: "width:100%" %>
										
									</div>
									
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= subcategory.name %></strong></p>
									    <div style="background:#2196F3;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
					<% end %>	
				<% end %>
				</div>
				
				<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.e %><%= link_to category do %><button style="background:#009688" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
				
				<% @subcategories.each do |subcategory| %>
						<% if subcategory.e %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div class="w3-padding  w3-col l4 m4">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag subcategory.image, style: "width:100%" %>
										
									</div>
									
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= subcategory.name %></strong></p>
									    <div style="background:#009688;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
					<% end %>	
				<% end %>
				</div>
				
				<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.f %><%= link_to category do %><button style="background:#CDDC39" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
				
				<% @subcategories.each do |subcategory| %>
						<% if subcategory.f %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div class="w3-padding  w3-col l4 m4">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag subcategory.image, style: "width:100%" %>
										
									</div>
									
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= subcategory.name %></strong></p>
									    <div style="background:#CDDC39;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
					<% end %>	
				<% end %>
				</div>
				
				<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.g %><%= link_to category do %><button style="background:#FF9800" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
				
				<% @subcategories.each do |subcategory| %>
						<% if subcategory.g %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div class="w3-padding  w3-col l4 m4">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag subcategory.image, style: "width:100%" %>
										
									</div>
									
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= subcategory.name %></strong></p>
									    <div style="background:#FF9800;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
					<% end %>	
				<% end %>
				</div>
				
				<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.h %><%= link_to category do %><button style="background:#795548" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
				
				<% @subcategories.each do |subcategory| %>
						<% if subcategory.h %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div class="w3-padding  w3-col l4 m4">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag subcategory.image, style: "width:100%" %>
										
									</div>
									
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= subcategory.name %></strong></p>
									    <div style="background:#795548;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
					<% end %>	
				<% end %>
				</div>
				
				<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.i %><%= link_to category do %><button style="background:#212121" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
				
				<% @subcategories.each do |subcategory| %>
						<% if subcategory.i %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div class="w3-padding  w3-col l4 m4">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag subcategory.image, style: "width:100%" %>
										
									</div>
									
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= subcategory.name %></strong></p>
									    <div style="background:#212121;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
					<% end %>	
				<% end %>
				</div>
				
				<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.j %><%= link_to category do %><button style="background:#BF360C" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
				
				<% @subcategories.each do |subcategory| %>
						<% if subcategory.j %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div class="w3-padding  w3-col l4 m4">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag subcategory.image, style: "width:100%" %>
										
									</div>
									
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= subcategory.name %></strong></p>
									    <div style="background:#BF360C;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
					<% end %>	
				<% end %>
				</div>
				
				<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.k %><%= link_to category do %><button style="background:#607D8B" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
				
				<% @subcategories.each do |subcategory| %>
						<% if subcategory.k %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div class="w3-padding  w3-col l4 m4">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag subcategory.image, style: "width:100%" %>
										
									</div>
									
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= subcategory.name %></strong></p>
									    <div style="background:#607D8B;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
					<% end %>	
				<% end %>
				</div>
				
				<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.l %><%= link_to category do %><button style="background:#2E7D32" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
				
				<% @subcategories.each do |subcategory| %>
						<% if subcategory.l %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div class="w3-padding  w3-col l4 m4">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag subcategory.image, style: "width:100%" %>
										
									</div>
									
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= subcategory.name %></strong></p>
									    <div style="background:#2E7D32;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
					<% end %>	
				<% end %>
				</div>
				
				<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.m %><%= link_to category do %><button style="background:#6A1B9A" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
				
				<% @subcategories.each do |subcategory| %>
						<% if subcategory.m %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div class="w3-padding  w3-col l4 m4">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag subcategory.image, style: "width:100%" %>
										
									</div>
									
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= subcategory.name %></strong></p>
									    <div style="background:#6A1B9A;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
					<% end %>	
				<% end %>
				</div>
				
				<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.n %><%= link_to category do %><button style="background:#880E4F" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
				
				<% @subcategories.each do |subcategory| %>
						<% if subcategory.n %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div class="w3-padding  w3-col l4 m4">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag subcategory.image, style: "width:100%" %>
										
									</div>
									
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= subcategory.name %></strong></p>
									    <div style="background:#880E4F;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
					<% end %>	
				<% end %>
				</div>
				
				<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.o %><%= link_to category do %><button style="background:#3F51B5#3F51B5" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
				
				<% @subcategories.each do |subcategory| %>
						<% if subcategory.o %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div class="w3-padding  w3-col l4 m4">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag subcategory.image, style: "width:100%" %>
										
									</div>
									
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= subcategory.name %></strong></p>
									    <div style="background:#3F51B5;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
					<% end %>	
				<% end %>
				</div>
				
				<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.p %><%= link_to category do %><button style="background:#689F38" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
				
				<% @subcategories.each do |subcategory| %>
						<% if subcategory.p %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div class="w3-padding  w3-col l4 m4">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag subcategory.image, style: "width:100%" %>
										
									</div>
									
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= subcategory.name %></strong></p>
									    <div style="background:#689F38;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
					<% end %>	
				<% end %>
				</div>
				
				<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.q %><%= link_to category do %><button style="background:#A8182F" class="w3-btn"><%= category.shortsname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
				
				<% @subcategories.each do |subcategory| %>
						<% if subcategory.q %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div class="w3-padding  w3-col l4 m4">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag subcategory.image, style: "width:100%" %>
										
									</div>
									
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= subcategory.name %></strong></p>
									    <div style="background:#A8182F;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
					<% end %>	
				<% end %>
				</div>
				
				
			<div style="margin-bottom:30px" class="w3-container w3-padding">
				<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.r %><%= link_to category do %><button style="background:#673AB7" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
				
				<% @subcategories.each do |subcategory| %>
						<% if subcategory.r %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div class="w3-padding  w3-col l4 m6">
								<div class="w3-card-2 w3-white content">
									<div class=" w3-container w3-padding-small ">
										<%= image_tag subcategory.image, style: "width:100%" %>
										
									</div>
									
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-display-container w3-padding w3-container">
										<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= subcategory.name %></strong></p>
									    <div style="background:#673AB7;color:white" class=" w3-padding w3-display-topright"><%= subcategory.description %></div>
									</div>
								</div>
							</div>	
						<% end %>
					<% end %>	
				<% end %>
			</div>
		</div>
		<%= render partial: "shared/sidebar" %>
	
	</div>
	
	<div class="w3-hide-large w3-hide-medium w3-white">
		<div style="margin-top:10px" class="w3-container">
			<div class="w3-padding w3-container"><%= link_to tintuc_index_path do %><button style="background:#2C2453" class="w3-btn">A <i class="fa fa-plus" aria-hidden="true"></i></button><% end %></div>
			<% @tintucs.each do |tintuc| %>
				<% if tintuc.a %>
					<%= link_to tintuc do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag tintuc.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= tintuc.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= tintuc.title %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.a %><%= link_to category do %><button style="background:#A8182F" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.a %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#0D47A1" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.b %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#880E4F" class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.c %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#2196F3 " class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.d %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#009688 " class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.e %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#CDDC39 " class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.f %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#FF9800 " class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.g %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#795548 " class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.h %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#212121 " class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.i %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#BF360C " class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.j %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#607D8B " class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.k %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#2E7D32 " class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.l %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#9E8383 " class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.m %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#880E4F " class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.n %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#3F51B5 " class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.n %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#689F38 " class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.p %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#A8182F " class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.q %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
			
			<div class="w3-padding w3-container"><% @categories.each do |category| %><% if category.b %><%= link_to category do %><button style="background:#673AB7  " class="w3-btn"><%= category.shortname %> <i class="fa fa-plus" aria-hidden="true"></i></button><% end %><% end %><% end %></div>
			<% @subcategories.each do |subcategory| %>
				<% if subcategory.r %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div style="" class="w3-padding w3-container">
							<div style="" class="w3-col s4 m4 ">
			  					<%= image_tag subcategory.image.url, style: "width:100%" %>
							</div>
							<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
							  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
							  <p><strong><%= subcategory.name %></strong></p>
							</div>
						</div>	
					<% end %>
				<% end %>
			<% end %>
		</div>	
	</div>	
</div>	



<%= render partial: "shared/footer" %>

