<% content_for :head do %>
	<title><%= @category.name %></title>
	<!-- Open Graph data -->
	<meta property="og:site_name" content="chapry">
	<meta property="fb:app_id" content="984512708308216"></meta>
	<meta property="og:url" content="<%= request.original_url %>"></meta>
	<meta property="og:type" content="article">
	<meta property="og:title" content="<%= @category.name %>">
	<meta property="og:description" content="<%= @category.shortdescription %>">
	<meta property="og:image" content="<%= @category.image.url %>">
<% end %>

<%= render partial: "shared/header" %>
<%= render partial: "shared/search" %>

<div style="max-width:1260px;margin:auto;margin-top:24px" class="w3-hide-small w3-display-container w3-animate-opacity">
  <%= image_tag @category.logo.url, style: "width:100%" %>
</div>

<div style="max-width:1260px;margin:auto" class="w3-main">
	<div  class="w3-container ">
		<div  class="w3-hide-small w3-col l9 m9 s12">
			<div style="margin-left:42px;margin-bottom:30px" class="w3-container w3-padding">
				
				<div class="w3-center w3-hide-medium w3-container" >
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- home page -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:728px;height:90px"
					     data-ad-client="ca-pub-9796522511877943"
					     data-ad-slot="3611847518">
					</ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
				
				<% @subcategories.each do |subcategory| %>
					<%= link_to [subcategory.category, subcategory] do %>
						<div class="w3-padding  w3-col l4 m6">
							<div class="w3-card-2 w3-white content">
								<div class="w3-padding"><%= image_tag subcategory.image.url, style: "width:100%" %></div>
								<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-padding  w3-container">
									<p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
				  					<p><strong><%= subcategory.name %></strong></p>
								</div>
							</div>
						</div>	
					<% end %>
				<% end %>
			</div>
		</div>
		
		
		<div class=" w3-hide-large w3-hide-medium   w3-white  ">
			<div style="margin-top:42px" class="w3-container">
				<% @subcategories.each do |subcategory| %>
					<% if !subcategory.logo? %>
						<%= link_to [subcategory.category, subcategory] do %>
							<div style="" class="w3-hover-shadow w3-padding w3-container">
								<div style="" class="w3-col s4 m4 ">
				  					<%= image_tag subcategory.image.url, style: "width:100%" %>
								</div>
								<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
								  <p style="color:#9E8383"><%= subcategory.created_at.strftime("%d-%m-%Y") %></p>
								  <p><strong><%= subcategory.name %></strong></p>
								</div>
							</div>	
						<% end %>
					<% end %>
				<% end %>
			</div>	
		</div>
	
		<%= render partial: "shared/sidebar" %>
		
	</div>
</div>

<%= render partial: "shared/footer" %>
<script>
for (var i = 0; i < document.links.length; i++) {
    if (document.links[i].href == document.URL) {
        document.links[i].className = 'active';
    }
}
</script>
